Repository amkkrr/clash-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: hot-reload-eslint, hot-reload-typescript-check, hot-reload-prettier, hot-reload-tests, docker-compose-check, scripts-executable

.pre-commit-config.yaml:

repos:
  # 基本的pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # 针对热重载服务的本地hooks
  - repo: local
    hooks:
      - id: hot-reload-eslint
        name: Hot Reload ESLint
        entry: bash -c 'cd services/hot-reload && npm run lint'
        language: system
        files: services/hot-reload/.*\.(ts|js)$
        pass_filenames: false
        
      - id: hot-reload-typescript-check
        name: Hot Reload TypeScript Check
        entry: bash -c 'cd services/hot-reload && npm run typecheck'
        language: system
        files: services/hot-reload/.*\.ts$
        pass_filenames: false
        
      - id: hot-reload-prettier
        name: Hot Reload Prettier
        entry: bash -c 'cd services/hot-reload && npm run format:check'
        language: system
        files: services/hot-reload/.*\.(ts|json|md)$
        pass_filenames: false
        
      - id: hot-reload-tests
        name: Hot Reload Tests
        entry: bash -c 'cd services/hot-reload && npm test -- --passWithNoTests'
        language: system
        files: services/hot-reload/.*\.(ts|js)$
        pass_filenames: false
        
      - id: docker-compose-check
        name: Docker Compose Validation
        entry: bash -c 'docker-compose -f docker-compose.hot-reload.yml config >/dev/null'
        language: system
        files: docker-compose.*\.yml$
        pass_filenames: false
        
      - id: scripts-executable
        name: Scripts Executable Check
        entry: bash -c 'find scripts/ -name "*.sh" -exec test -x {} \; || (echo "Some scripts are not executable" && exit 1)'
        language: system
        files: scripts/.*\.sh$
        pass_filenames: false

  # Markdown和文档检查
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        exclude: 'CHANGELOG\.md'

  # YAML格式化
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: 'package-lock\.json'

# 配置选项
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: update GitHub Actions artifacts to v4
  .github/workflows/hot-reload-ci.yml
Due: none

fix: skip husky install in CI environment
  services/hot-reload/package.json
Due: hot-reload-prettier

fix: resolve CI/CD pipeline issues and improve code quality
  services/hot-reload/.eslintrc.js
  services/hot-reload/.eslintrc.json
  services/hot-reload/package-lock.json
  services/hot-reload/package.json
  services/hot-reload/src/app.ts
  services/hot-reload/src/services/ConfigFileWatcher.ts
  services/hot-reload/src/services/RealtimeBroadcaster.ts
  services/hot-reload/src/services/SmartRestartController.ts
  services/hot-reload/src/types/index.ts
  services/hot-reload/src/utils/logger.ts
  services/hot-reload/src/utils/metrics.ts
  services/hot-reload/tests/ConfigFileWatcher.test.ts
  services/hot-reload/tests/RealtimeBroadcaster.test.ts
  services/hot-reload/tests/SmartRestartController.test.ts
Due: hot-reload-eslint, hot-reload-typescript-check, hot-reload-prettier, hot-reload-tests

fix: resolve test failures and CI/CD pipeline issues
  services/hot-reload/jest.config.js
  services/hot-reload/package.json
  services/hot-reload/src/services/ConfigFileWatcher.ts
  services/hot-reload/src/utils/metrics.ts
  services/hot-reload/tests/ConfigFileWatcher.test.ts
  services/hot-reload/tests/RealtimeBroadcaster.test.ts
  services/hot-reload/tests/SmartRestartController.test.ts
Due: hot-reload-eslint, hot-reload-typescript-check, hot-reload-prettier, hot-reload-tests

fix: resolve Codecov rate limit issue in CI/CD pipeline
  .github/workflows/hot-reload-ci.yml
Due: none

fix: resolve TypeScript 'any' type warnings and improve CI reliability
  .github/workflows/hot-reload-ci.yml
  services/hot-reload/src/app.ts
  services/hot-reload/src/services/RealtimeBroadcaster.ts
  services/hot-reload/src/services/SmartRestartController.ts
  services/hot-reload/src/types/index.ts
  services/hot-reload/src/utils/logger.ts
  services/hot-reload/src/utils/metrics.ts
  services/hot-reload/tests/RealtimeBroadcaster.test.ts
  services/hot-reload/tests/SmartRestartController.test.ts
Due: hot-reload-eslint, hot-reload-typescript-check, hot-reload-prettier, hot-reload-tests

fix: resolve TypeScript compilation errors in error handling
  services/hot-reload/src/app.ts
Due: hot-reload-eslint, hot-reload-typescript-check, hot-reload-prettier, hot-reload-tests

fix: upgrade CodeQL Action to v3 and improve CI reliability
  .github/workflows/hot-reload-ci.yml
Due: none

fix: update Docker Compose command syntax for CI integration tests
  .github/workflows/hot-reload-ci.yml
Due: none

fix: resolve Docker Compose service dependency issues in integration tests
  .github/workflows/hot-reload-ci.yml
Due: none

fix: correct YAML indentation in integration test compose file generation
  .github/workflows/hot-reload-ci.yml
Due: none

integrate hot reload service into main compose file
  compose.yml
  docs/HOT_RELOAD_INTEGRATION.md
  scripts/start-hot-reload.sh
Due: scripts-executable

fix: resolve configuration and deployment issues for hot reload integration
  compose.yml
  config/clash-template.yaml
Due: none

docs: update hot reload integration guide with fixes and troubleshooting
  docs/HOT_RELOAD_INTEGRATION.md
Due: none

fix: upgrade Clash to mihomo and update hot reload configuration
  .env.example
  compose.yml
Due: none
